body{
    margin: 0;
    padding: 0;
}
section{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
}
.containerAddImage{
    width: 40%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.404);
    border-radius: 12px;
    justify-content: space-evenly;
}
.boxDashed{
    background: #F6F8FB;
    border: 3px dashed #97BEF4;
    border-radius: 12px;
    width: 90%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
img{
    width: 40%;
}
.formatImage{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 15px;
    /* identical to box height */

    text-align: center;
    letter-spacing: -0.035em;

    /* Gray 3 */

    color: #828282;
}