body{
    margin: 0;
    padding: 0;
    
}
section{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
}
.containerAddImage{
    width: 40%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.404);
    border-radius: 12px;
    justify-content: space-evenly;
}
.boxDashed{
    background: #F6F8FB;
    border: 2px dashed #97BEF4;
    border-radius: 12px;
    width: 80%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
img{
    width: 40%;
    padding-bottom: 2.5rem;
}
p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */

    text-align: center;
    letter-spacing: -0.035em;

    /* Gray 3 */

    color: #828282;
}
.formatImage{
    font-size: 10px;
}

h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
    letter-spacing: -0.035em;
    /* Gray 2 */
    color: #4F4F4F;
}

button{
    padding: 0.5rem 1rem;
    border: none;
    background: #2F80ED;
    border-radius: 8px;
    
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    letter-spacing: -0.035em;

    color: #FFFFFF;
}